.hide{display: none;}
#canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#funcInputs {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
}

#a {
    
    margin-right: 10px;
    border-radius: 15px;
    margin-top: 1%;
    height: 150px;
    max-width: 250px;
    max-height: 150px;
    resize: none;
    outline: none;
    color: #999;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    line-height: 2em;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: height 2s ease;
}

#b {
  
    margin-left: 10px;
    height: 150px;
    border-radius: 15px;
    max-width: 250px;
    max-height: 150px;
    resize: none;
    outline: none;
    color: #999;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    line-height: 2em;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: height 2s ease;
}

#c {
   
    margin-left: 20px;
    border-radius: 15px;
    height: 150px;
    max-width: 250px;
    max-height: 150px;
    resize: none;
    outline: none;
    color: #999;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    background: #fff;
    line-height: 2em;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    transition: height 2s ease;
}




.projectName {
    position: absolute;
    font-size: 60px;
    text-align: center;
    margin-left: 35%;
}

textarea{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}
#calculatePolynome{
    position: absolute;
}

#operators{
    position: absolute;
}
#canvas3D{
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
}
